# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/

# Virtual environments
venv/
env/
.venv/
Investomart_env/
*.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Windows files
Thumbs.db
desktop.ini

# IDE
.idea/

# Cache
*.cache
